h1 {
    color: aquamarine;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    

}

#colorchange{
    color: blueviolet;
    font-weight: 900;
}

.thanks{
    color: blue;
}

button:hover{
    background-color: brown;
    color: aliceblue;
}
